<div class="mx-auto container w-fit h-full my-4 py-4">
  <h1 class="w-full text-center font-bold text-3xl my-4">Noteikumi</h1>
  <p>rgutmanis (turpmāk tekstā - "Uzņēmums", "Mēs" vai "Mums") ir apņēmies nodrošināt godīgu un atbildīgu pakalpojumu sniegšanu saviem klientiem (turpmāk tekstā - "Jūs", "Jūsu" vai "Klients"). Šie Lietošanas noteikumi (turpmāk tekstā - "Noteikumi") nosaka nosacījumus, ar kuriem Jūs varat izmantot mūsu vietni un pakalpojumus.
    <br><br>
    <span class="font-bold">Piekrišana</span><br>
    <br>
    Izmantojot mūsu vietni vai pakalpojumus, Jūs piekrītat šiem Noteikumiem. Ja Jūs nepiekrītat šiem Noteikumiem, Jums nav jāizmanto mūsu vietne vai pakalpojumi.
    <br> <br>
    <span class="font-bold">Vietnes un pakalpojumu lietošana </span><br>
    <br>
    Jūs piekrītat izmantot mūsu vietni un pakalpojumus likumīgā un atbildīgā veidā. Jūs nepiekritīsiet nekādām darbībām, kas varētu kaitēt vai traucēt mūsu vietnes vai pakalpojumu darbību, vai kas varētu kaitēt citiem lietotājiem.
    <br> <br>
    <span class="font-bold">Preču iegāde </span><br>
    <br>
    <span class="font-bold">Veicot pasūtījumu mūsu vietnē, Jūs apliecināt un garantējat, ka:</span> <br>
    <br>
    Jums ir likumīgas tiesības veikt pirkumu. <br>
    Jūs sniegsiet pareizu un aktuālu informāciju par sevi un savu pasūtījumu. <br>
    Jums ir pietiekami līdzekļi, lai apmaksātu savu pasūtījumu. <br>
    Mēs apstrādāsim Jūsu pasūtījumu pēc iespējas ātrāk un informēsim Jūs par tā statusu pa e-pastu. Mēs paturam tiesības atcelt jebkuru pasūtījumu jebkāda iemesla dēļ.
    <br><br>
    <span class="font-bold">Maksājumi</span> <br>
    <br>
    Mēs pieņemam maksājumus ar dažādām maksājumu metodēm, tostarp kredītkartēm, debetkartēm un PayPal. Visas maksājumi tiek apstrādāti drošā vidē. <br>
    <br>
    <span class="font-bold">Piegāde</span> <br>
    <br>
    Mēs piedāvājam piegādi visā Latvijā. Piegādes maksa un laiks var atšķirties atkarībā no piegādes adreses un izvēlētās piegādes metodes. Mēs informēsim Jūs par piegādes informāciju pa e-pastu.
    <br> <br>
    <span class="font-bold">Atgriešana</span><br>
    <br>
    Jums ir tiesības atgriezt preces 14 dienu laikā no to saņemšanas dienas. Lai atgrieztu preces, Jums jāsazinās ar Mums pa e-pastu uz [noņemta e-pasta adrese]. Mēs atmaksāsim Jums preču cenu, ja tās tiks atgrieztas neskartā un neizmantotā stāvoklī.
    <br> <br>
    <span class="font-bold">Intelektuālais īpašums</span><br>
    <br>
    Visa vietnē un pakalpojumos sniegtā informācija, tostarp teksts, attēli, grafika un programmatūra, ir Mūsu vai Mūsu licenču devēju īpašums un ir aizsargāta ar autortiesībām un citiem intelektuālā īpašuma likumiem. Jūs neesat tiesīgs kopēt, izplatīt, izmainīt vai citādi izmantot šo informāciju bez Mūsu iepriekšējas rakstiskas piekrišanas.
    <br> <br>
    <span class="font-bold">Atbildības ierobežojums</span><br>
    <br>
    Mēs neesam atbildīgi par jebkādiem tiešiem, netiešiem, nejaušiem, īpašiem vai seku izraisītiem zaudējumiem, kas rodas saistībā ar mūsu vietnes vai pakalpojumu izmantošanu, pat ja Mēs esam tikuši informēti par šādu zaudējumu iespējamību.
    <br> <br>
      <span class="font-bold">Grozījumi</span><br>
    <br>
    Mēs varam jebkurā laikā grozīt šos Noteikumus. Veicot grozījumus, Mēs publicēsim atjauninātos Noteikumus mūsu vietnē. Jūsu turpmākā mūsu vietnes vai pakalpojumu izmantošana pēc šādu grozījumu veikšanas nozīmē Jūsu piekrišanu atjauninātajiem Noteikumiem.
    <br>
  </p>
</div>
