<div class="mx-auto container w-fit h-full my-4 py-4">
  <h1 class="w-full text-center font-bold text-3xl my-4">Privātuma politika</h1>
  RGutmanis (turpmāk tekstā - "Uzņēmums", "Mēs" vai "Mums") ir apņēmies aizsargāt savu klientu (turpmāk tekstā - "Jūs", "Jūsu" vai "Klients") privātumu. Šī Privātuma politika (turpmāk tekstā - "Politika") izskaidro, kā Mēs vācam, izmantojam un izpaužam Jūsu personas datus, kā arī kādas Jums ir izvēles saistībā ar Jūsu personas datiem.
  <br><br>
  <span class="font-bold">Kādi personas dati tiek vākti?</span><br>
  <br>
  <span class="font-bold">Mēs vācam dažāda veida personas datus par Jums, tostarp:</span><br>
  <br>
  Kontaktinformācija, piemēram, vārds, uzvārds, e-pasta adrese, tālruņa numurs un piegādes adrese.<br>
  Maksājumu informācija, piemēram, kredītkartes numurs, debetkartes numurs un PayPal konta informācija.<br>
  Pasūtījuma informācija, piemēram, iegādāto produktu nosaukumi, cenas un piegādes datums.<br>
  Ierīces informācija, piemēram, datora IP adrese, pārlūkprogrammas veids un operētājsistēma.<br>
  Izmantošanas informācija, piemēram, lapas, kuras Jūs apmeklējat mūsu vietnē, un laiks, ko Jūs pavadāt katrā lapā.<br>
  <span class="font-bold">Kā tiek izmantoti personas dati?</span><br>
  <br>
  <span class="font-bold">Mēs izmantojam Jūsu personas datus dažādiem mērķiem, tostarp:</span><br>
  <br>
  Lai apstrādātu Jūsu pasūtījumus un sniegtu Jums klientu apkalpošanu.<br>
  Lai uzlabotu mūsu vietni un pakalpojumus.<br>
  Lai sazinātos ar Jums par mūsu produktiem un pakalpojumiem.<br>
  Lai izpildītu savas juridiskās saistības.<br>
  <span class="font-bold">Kā tiek izpausti personas dati?</span><br>
  <br>
  <span class="font-bold">Mēs varam izpaust Jūsu personas datus trešajām pusēm šādos gadījumos:</span><br>
  <br>
  Piegādātājiem, kuriem ir nepieciešams piekļūt Jūsu personas datiem, lai izpildītu Jūsu pasūtījumu, piemēram, piegādes uzņēmumiem un maksājumu apstrādes pakalpojumu sniedzējiem.<br>
  Profesionālajiem konsultantiem, kuriem ir nepieciešams piekļūt Jūsu personas datiem, lai sniegtu mums juridiskus vai citus profesionālus pakalpojumus.<br>
  Valsts iestādēm, kurām ir nepieciešams piekļūt Jūsu personas datiem saskaņā ar likumu.<br>
  Mēs neizpaudīsim Jūsu personas datus trešajām pusēm mārketinga nolūkos bez Jūsu iepriekšējas piekrišanas.<br>
  <br>
  <span class="font-bold">Jūsu izvēles</span><br>
  <br>
  <span class="font-bold">Jums ir tiesības:</span><br>
  <br>
  Piekļūt saviem personas datiem un tos labot.<br>
  Izdzēst savus personas datus.<br>
  Ierobežot savu personas datu apstrādi.<br>
  Iebilst pret savu personas datu apstrādi.<br>
  Pārnest savus personas datus citam datu pārvaldniekam.<br>
  Lai izmantotu šīs tiesības, lūdzu, sazinieties ar Mums pa e-pastu uz rgutmanis&#64;gmail.com.<br>
  <br>
  <span class="font-bold">Datu drošība</span><br>
  <br>
  Mēs ieviešam atbilstošus tehniskos un organizatoriskos pasākumus, lai aizsargātu Jūsu personas datus no nesankcionētas piekļuves, izmantošanas, izpaušanas, grozīšanas vai iznīcināšanas.
  <br><br>
  <span class="font-bold">Datu glabāšana</span><br>
  <br>
  Mēs glabāsim Jūsu personas datus tik ilgi, cik tas ir nepieciešams, lai izpildītu mūsu juridiskās saistības un jebkādus citus likumīgus mērķus. Pēc tam Mēs Jūsu personas datus dzēsīsim vai padarīsim tos anonīmus.
  <br>
</div>
