<div class="mx-auto bg-secondary min-w-full navbar z-[100000]" >
  <div class="mx-auto container flex items-center justify-between px-4 lg:px-0 w-[100%]">
    <div class="">
      <a class="cursor-pointer text-4xl text-white font-bold">Veikals</a>
    </div>
    <div class="flex">

      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto lg:inline-block hidden" />

        <button class="btn btn-ghost btn-circle lg:hidden flex justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
        </button>
      </div>


      <div class="dropdown dropdown-end justify-self-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <div class="indicator">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /></svg>
              <span class="badge badge-sm indicator-item">8</span>
            </div>
          </div>
          <div tabindex="0" class="mt-3 z-[1] card card-compact dropdown-content w-52 shadow-2xl bg-white ">
            <div class="card-body">
              <span class="font-bold text-lg text-black">8 Items</span>
              <span class="text-black">Subtotal: $999</span>
              <div class="card-actions">
                <button class="btn btn-primary btn-block">View cart</button>
              </div>
            </div>
          </div>
        </div>
        <i class='bx bx-menu lg:hidden text-3xl cursor-pointer btn btn-ghost flex text-center' (click)="toggleSidebar()"></i>
        <div class="dropdown dropdown-end lg:inline-block hidden">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img alt="Tailwind CSS Navbar component" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" />
            </div>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li>
              <a class="justify-between">
                Profile
                <span class="badge">New</span>
              </a>
            </li>
            <li><a>Settings</a></li>
            <li><a>Logout</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
<div class="sidebar fixed right-0 top-0 bottom-0 w-[100%] sm:w-[50%] bg-gray-200 z-[10000] flex flex-col p-6 gap-4 lg:hidden" [ngClass]="{'showSidebar': showSidebar, 'hideSidebar': !showSidebar}">
  <div class="sidebar-top flex justify-between items-center">
    <h1 class="font-bold text-xl">Hello, User!</h1>
    <div class="">
      <i class='bx bxs-user-circle lg:hidden text-3xl cursor-pointer btn btn-ghost text-right'></i>
      <i class='bx bx-menu lg:hidden text-3xl cursor-pointer btn btn-ghost text-right' (click)="toggleSidebar()"></i>
    </div>
  </div>
  <div class="sidebar-categories">
    <ul class="flex flex-col gap-4 text-2xl px-2 mb-4">
      <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-git-branch' ></i></span> Processors</li>
      <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-fullscreen' ></i></span> Graphics Cards</li>
      <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bxs-memory-card' ></i></span> Memory</li>
      <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-save' ></i></span> HDD</li>
      <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bxs-save' ></i></span> SSD</li>
      <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-card' ></i></span> Monitors</li>
      <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bxs-keyboard'></i></span> Keyboards</li>
      <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bxs-mouse' ></i></span> Mouses</li>
      <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-checkbox-square' ></i></span> Cases</li>
      <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-power-off' ></i></span> Power Supplies</li>
      <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-headphone' ></i></span> Headphones</li>
      <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-customize' ></i></span> Accessories</li>

    </ul>
  </div>
  </div>

