<form class="max-w-sm mx-auto my-6 min-h-[60vh] flex flex-col gap-6" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h1 class="w-full text-2xl font-bold text-center">Contact Us!</h1>
  <div class="">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
    <input [ngClass]="{'input-error': emailError}" formControlName="email" type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"  required />
  </div>
  <div class="">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Your name</label>
    <input   [ngClass]="{'input-error': nameError}" formControlName="name" type="text" id="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
  </div>
  <div class="">
    <label for="topic" class="block mb-2 text-sm font-medium text-gray-900 ">Topic</label>
    <input  [ngClass]="{'input-error': topicError}" formControlName="topic" type="text" id="topic" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
  </div>
  <div class="">
    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label>
    <textarea  [ngClass]="{'input-error': messageError}" formControlName="message" id="message" rows="4" class="min-h-[100px] block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Your message..."></textarea>
  </div>
  @if(errorMessage!="none"){
    <p class="bold text-xl text-red-700">{{errorMessage}}</p>
  }
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Send</button>
</form>
