<div class="container mx-auto my-10 px-2 flex flex-col gap-4">
  <div class="cart-top text-3xl font-bold">
    Your Cart:
  </div>
  <div class="cart">
    <ul class="flex flex-col gap-4 w-full">
      <li class="flex items-center border-2 border-gray-400 px-2 py-3 justify-between flex-wrap gap-2">
        <img src="https://www.dateks.lv/images/pic/2400/2400/218/1117.jpg" alt="Intel I5" class="max-h-36 sm:max-h-28 ">
        <div class=" float-left sm:flex sm:items-center sm:justify-around md:w-[60%] sm:w-[50%] w-[60%] gap-3">
          <h1 class="font-bold shrink-0 text-4xl sm:text-2xl">Intel I5</h1>
          <p class="text-red-700 text-4xl sm:text-2xl">$99.99</p>
          <div class="flex items-center">
            <p class="font-bold mr-1">Count: </p>
            <select class="select select-secondary w-24">
              <option disabled selected>Count</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
        </div>
        <button class="btn btn-error w-full sm:w-[15%] block">Remove</button>
      </li>
      <li class="flex items-center border-2 border-gray-400 px-2 py-3 justify-between flex-wrap gap-2">
        <img src="https://www.dateks.lv/images/pic/2400/2400/218/1117.jpg" alt="Intel I5" class="max-h-36 sm:max-h-28 ">
        <div class=" float-left sm:flex sm:items-center sm:justify-around md:w-[60%] sm:w-[50%] w-[60%] gap-3">
          <h1 class="font-bold shrink-0 text-4xl sm:text-2xl">Intel I5</h1>
          <p class="text-red-700 text-4xl sm:text-2xl">$99.99</p>
          <div class="flex items-center">
            <p class="font-bold mr-1">Count: </p>
            <select class="select select-secondary w-24">
              <option disabled selected>Count</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
        </div>
        <button class="btn btn-error w-full sm:w-[15%] block">Remove</button>
      </li>
      <li class="flex items-center border-2 border-gray-400 px-2 py-3 justify-between flex-wrap gap-2">
        <img src="https://www.dateks.lv/images/pic/2400/2400/218/1117.jpg" alt="Intel I5" class="max-h-36 sm:max-h-28 ">
        <div class=" float-left sm:flex sm:items-center sm:justify-around md:w-[60%] sm:w-[50%] w-[60%] gap-3">
          <h1 class="font-bold shrink-0 text-4xl sm:text-2xl">Intel I5</h1>
          <p class="text-red-700 text-4xl sm:text-2xl">$99.99</p>
          <div class="flex items-center">
            <p class="font-bold mr-1">Count: </p>
            <select class="select select-secondary w-24">
              <option disabled selected>Count</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
        </div>
        <button class="btn btn-error w-full sm:w-[15%] block">Remove</button>
      </li>
      <li class="flex items-center border-2 border-gray-400 px-2 py-3 justify-between flex-wrap gap-2">
        <img src="https://www.dateks.lv/images/pic/2400/2400/218/1117.jpg" alt="Intel I5" class="max-h-36 sm:max-h-28 ">
        <div class=" float-left sm:flex sm:items-center sm:justify-around md:w-[60%] sm:w-[50%] w-[60%] gap-3">
          <h1 class="font-bold shrink-0 text-4xl sm:text-2xl">Intel I5</h1>
          <p class="text-red-700 text-4xl sm:text-2xl">$99.99</p>
          <div class="flex items-center">
            <p class="font-bold mr-1">Count: </p>
            <select class="select select-secondary w-24">
              <option disabled selected>Count</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
        </div>
        <button class="btn btn-error w-full sm:w-[15%] block">Remove</button>
      </li>

    </ul>
  </div>
  <div class="cart-bottom flex gap-4 justify-end mr-10">
    <div class="text-4xl">Total price: <span class="text-red-700">$399.96</span></div>
    <button class="btn btn-active btn-primary">Pay Now!</button>
  </div>
</div>
