<div class="container mx-auto flex w-full h-full justify-center content-center my-8">
  <div class="">
    <div class="grid grid-cols-1 grid-rows-2 md:grid-cols-2 md:grid-rows-1 gap-16 bg-white p-8">
      <img alt="Product Pic" class="aspect-square w-96" src="{{product.image_url}}">
      <div class="data flex flex-col justify-around">
        <div class="">
          <p class="text-gray-400">{{ product.manufacturer }}</p>
          <h1 class="font-bold text-xl">{{ product.name }}</h1>
          <p class="text-gray-400 text-xs">ID{{ product.id }}</p>
        </div>
        <div class="relative overflow-x-auto">
          <h2>Specifications:</h2>
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" scope="row">
                Manufacturer
              </th>
              <td class="px-6 py-4">
                {{ product.manufacturer }}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" scope="row">
                Name
              </th>
              <td class="px-6 py-4">
                {{ product.name }}
              </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" scope="row">
                Description
              </th>
              <td class="px-6 py-4">
                {{ product.description }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="text-2xl">
          Price:
          <span class="font-bold text-red-700">${{product.price}}</span>
        </div>
        <div class="flex w-full">
          <button (click)="onAddToWishlist(product.id)"
                  class="hover:border-blue-500 text-blue-700 border-2 border-blue-700 px-4 hover:text-white transition-all focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500"
                  type="button">
            <svg class="hover:cursor-pointer fill-blue-700 " height="24" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412l7.332 7.332c.17.299.498.492.875.492a.99.99 0 0 0 .792-.409l7.415-7.415c2.354-2.354 2.354-6.049-.002-8.416a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595zm6.791 1.61c1.563 1.571 1.564 4.025.002 5.588L12 18.586l-6.793-6.793c-1.562-1.563-1.561-4.017-.002-5.584.76-.756 1.754-1.172 2.799-1.172s2.035.416 2.789 1.17l.5.5a.999.999 0 0 0 1.414 0l.5-.5c1.512-1.509 4.074-1.505 5.584-.002z"></path>
            </svg>
            <span class="sr-only">Icon description</span>
          </button>

          <button
            (click)="onAddToCart(product.id)"
            class="w-full px-6 py-3.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Add to cart
          </button>
        </div>
      </div>
    </div>
    <div class="shipping bg-white p-4 flex flex-col gap-8">
      <div class="">
        <p class="font-bold text-xl">Delivery:</p>
        <div class="flex gap-10">
          <div class="">
            Omniva: <span>$4.99</span>
          </div>
          <div class="">
            DPD: <span>$4.99</span>
          </div>
          <div class="">
            Venipak: <span>$4.99</span>
          </div>
        </div>
      </div>
      <div class="justify-self-end">
        <p class="font-bold text-xl">Specificiations:</p>


        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <tbody>
              @for (spec of specifications; track spec.id) {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ spec.key }}
                  </td>
                  <td class="px-6 py-4">
                    {{ spec.value }}
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
