<div class="mx-auto container w-fit h-full my-4">
  <h1 class="w-full text-center font-bold text-3xl my-4">Par mums</h1>
  <p>rgutmanis ir interneta veikals, kas piedāvā plašu datora periferijas iekārtu klāstu no pasaules vadošajiem zīmoliem. Mēs esam apņēmušies nodrošināt saviem klientiem augstas kvalitātes produktus par konkurētspējīgām cenām, kā arī nevainojamu klientu apkalpošanu.
    <br><br>
    Mūsu misija ir kļūt par uzticamāko datora periferijas iekārtu avotu Latvijā, piedāvājot plašu produktu klāstu, kas atbilst jebkurām vajadzībām un budžetam. Mēs vēlamies, lai mūsu klienti varētu atrast visu nepieciešamo vienā vietā, lai varētu koncentrēties uz to, kas ir svarīgs - savu datoru lietošanu.
    <br><br>
    Mūsu vērtības:
    <br><br>
    Kvalitāte: Mēs piedāvājam tikai augstas kvalitātes produktus no uzticamiem zīmoliem.<br>
    Izvēle: Mums ir plašs produktu klāsts, kas atbilst jebkurām vajadzībām un budžetam.<br>
    Cena: Mēs piedāvājam konkurētspējīgas cenas visiem mūsu produktiem.<br>
    Klientu apkalpošana: Mums ir svarīga klientu apmierinātība, tāpēc mēs piedāvājam nevainojamu klientu apkalpošanu.<br>
    Kāpēc izvēlēties rgutmanis?<br>
    <br><br>
    Ir daudz iemeslu, kāpēc izvēlēties rgutmanis savām datora periferijas iekārtu vajadzībām. Šeit ir daži no tiem:<br>
    <br><br>
    Plašs produktu klāsts: Mums ir plašs produktu klāsts no pasaules vadošajiem zīmoliem, tāpēc jūs noteikti atradīsiet to, ko meklējat.<br>
    Konkurētspējīgas cenas: Mēs piedāvājam konkurētspējīgas cenas visiem mūsu produktiem, lai jūs varētu iegūt to, ko vēlaties, netaupot līdzekļus.<br>
    Nevainojama klientu apkalpošana: Mums ir svarīga klientu apmierinātība, tāpēc mēs piedāvājam nevainojamu klientu apkalpošanu. Mēs esam šeit, lai atbildētu uz jūsu jautājumiem un palīdzētu jums atrast pareizos produktus savām vajadzībām.<br>
    Ērta tiešsaistes iepirkšanās: Mūsu tiešsaistes veikals ir ērti lietojams un ļauj ātri un vienkārši atrast un iegādāties nepieciešamos produktus.<br>
    Ātra piegāde: Mēs piedāvājam ātru un uzticamu piegādi visā Latvijā.<br>
    Mēs aicinām jūs apmeklēt mūsu tiešsaistes veikalu un apskatīt plašo datora periferijas iekārtu klāstu, ko mēs piedāvājam. Mēs esam pārliecināti, ka jūs atradīsiet visu nepieciešamo vienā vietā.<br>
    <br><br>
    rgutmanis - Jūsu uzticamais datora periferijas iekārtu avots Latvijā!<br>
    <br><br>
    Pievienojiet aicinājumu uz darbību:<br>
    <br><br>
    Apmeklējiet mūsu tiešsaistes veikalu jau šodien! <br>
    Abonējiet mūsu e-pasta biļetenu, lai saņemtu jaunāko informāciju par produktiem un īpašajiem piedāvājumiem!<br>
    Sekojiet mums sociālajos tīklos, lai uzzinātu jaunākās ziņas un piedāvājumus!<br>
    <br><br>
    +371 29793188<br>
    P-Pk: 09.00-17.00<br>
    S-Sv: 10.00-16.00<br>
  </p>
</div>
