<div class="container mx-auto flex w-full  justify-center content-center my-8 flex-col min-h-[60vh]">
  <h1 class="font-bold text-2xl text-center">Vēlmju saraksts</h1>
  <div class="w-full gap-2 p-2">
    @if (products.length > 0 && errorMessage === "none") {
      <div class="max-w-[80vw] grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4  mx-auto gap-4">
        @for (product of products; track product.id) {
          <div
            class="flex flex-col justify-between cursor-pointer bg-white border border-gray-200 rounded-lg shadow transition-all">
            <a>
              <img (click)="onGoToProduct(product.id)" class="p-8 rounded-t-lg aspect-square"
                   src="{{product.image_url}}" alt="product image"/>
            </a>
            <div class="px-5 pb-5">
              <a>
                <h5 (click)="onGoToProduct(product.id)"
                    class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white text-ellipsis whitespace-nowrap overflow-hidden">{{ product.name }}</h5>
              </a>
              <div class="flex flex-col items-start justify-between flex-wrap gap-2">
                <span (click)="onGoToProduct(product.id)"
                      class="text-3xl font-bold dark:text-white text-red-600">{{ product.price }}€
                </span>
                <div class="flex justify-between w-full flex-wrap gap-3">
                  <a (click)="addToCart(product.id)"
                     class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add
                    to cart</a>
                  <a (click)="removeFromWishlist(product.id)"
                     class="w-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Remove</a>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    } @else if (products.length === 0 && errorMessage === "none") {
      <div class="w-full col-span-full h-[60vh] flex items-center justify-center flex-col text-center">
        <h1 class="text-3xl text-center">Nav pievienots neviens produkts vēlmju sarakstam</h1>
        <a class="cursor-pointer text-blue-800 font-bold" routerLink="/">Atgriezties</a>
      </div>
    } @else {
      <div class="w-full col-span-full h-[60vh] flex items-center justify-center flex-col text-center">
        <h1 class="text-3xl text-center">Nepieciešams autentificēties pirms varat lietot vēlmju sarakstu</h1>
        <a class="cursor-pointer text-blue-800 font-bold" routerLink="/login">Pieslēgties</a>
      </div>
    }
  </div>

</div>
