<div class="w-full h-[70vh] flex justify-center items-center">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="container sm:max-w-lg bg-white p-12 rounded-md">
    <h1 class="bold w-full text-center font-bold text-2xl">Pieslēgties</h1>
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="email">E-pasts</label>
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        formControlName="email" id="email"
        required
        type="email"/>
    </div>
    <div class="mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="password">Parole</label>
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="password" id="password"
        required
        type="password"/>
      @if (error != "none") {
        <p class="text-red-700 font-bold">{{ error }}</p>
      }
    </div>
    <div class="flex items-start mb-5">
      <div class="flex items-center h-5">
        <a class="underline cursor-pointer" routerLink="/register">Reģistrēties</a>
      </div>
    </div>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="submit">
      Pieslēgties
    </button>
  </form>
</div>
