<div class=" mx-auto py-6 min-h-[70vh] flex flex-col gap-6 bg-white rounded-2xl items-center">
  <h1 class="text-xl font-bold pt-6">Jūsu pasūtījumi!</h1>
  <div class="flex w-fit">
    <div class="flex flex-col w-[200px]">
      <div class="bg-gray-200 p-3 cursor-pointer hover:bg-gray-300 border-b-blue-500 border-b-2" routerLink="/account">Mans konts</div>
      <div class="bg-gray-200 p-3 cursor-pointer hover:bg-gray-300 border-b-blue-500 border-b-2" routerLink="/account/edit">Rediģēt datus</div>
      <div class="bg-gray-200 p-3 cursor-pointer hover:bg-gray-300 border-b-orange-500 border-b-2" (click)="onLogout()">Izrakstīties</div>
      <div class="bg-gray-200 p-3 cursor-pointer hover:bg-gray-300 border-b-red-500 border-b-2" (click)="onDelete()">Dzēst kontu</div>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          ID
        </th>
        <th scope="col" class="px-6 py-3">
          Izsek. Nr.
        </th>
        <th scope="col" class="px-6 py-3">
          Izveidots
        </th>
        <th scope="col" class="px-6 py-3">
          Piegādāts
        </th>
        <th scope="col" class="px-6 py-3">
          Piegādātājs
        </th>
        <th scope="col" class="px-6 py-3">
          Summa
        </th>
      </tr>
      </thead>
      <tbody>
        @for (order of orders; track order.id){
          <tr class="bg-white dark:bg-gray-800 hover:bg-gray-200">
            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{order.id}}
            </td>
            <td class="px-6 py-4">
              {{order.tracking_number}}
            </td>
            <td class="px-6 py-4">
              {{order.created_at}}
            </td>
            <td class="px-6 py-4">
              @if(order.delivered_at===order.created_at){
                -
              }@else{
                {{order.delivered_at}}
              }
            </td>
            <td class="px-6 py-4">
              {{order.delivery_method}}
            </td>
            <td class="px-6 py-4">
              {{order.sum+4.99}}€
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
