<div class="container mx-auto flex gap-8 mt-4 w-full h-full justify-center content-center px-2">
  <div class="left-panel lg:w-[20%] pt-0 bg-gray-200 hidden lg:block">
    <div class="lg:block hidden">
      <h1 class="font-bold text-4xl mb-4">Categories</h1>
      <ul class="flex flex-col gap-4 text-2xl px-2 mb-4">
        <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-git-branch' ></i></span> Processors</li>
        <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-fullscreen' ></i></span> Graphics Cards</li>
        <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bxs-memory-card' ></i></span> Memory</li>
        <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-save' ></i></span> HDD</li>
        <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bxs-save' ></i></span> SSD</li>
        <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-card' ></i></span> Monitors</li>
        <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bxs-keyboard'></i></span> Keyboards</li>
        <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bxs-mouse' ></i></span> Mouses</li>
        <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-checkbox-square' ></i></span> Cases</li>
        <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-power-off' ></i></span> Power Supplies</li>
        <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-headphone' ></i></span> Headphones</li>
        <li class="min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] border-b-gray-400"><span><i class='bx bx-customize' ></i></span> Accessories</li>

      </ul>
    </div>
  </div>
  <div class="center-panel lg:w-[80%] bg-gray-200 w-[100%] pb-4 ">
    <div class="main-container">
      <div class="carousel w-full h-[60vh]">
        <div id="item1" class="carousel-item w-full">
          <img src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg" class="w-full object-cover" />
        </div>
        <div id="item2" class="carousel-item w-full">
          <img src="https://images.pexels.com/photos/777001/pexels-photo-777001.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-full object-cover" />
        </div>
        <div id="item3" class="carousel-item w-full">
          <img src="https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-full object-cover" />
        </div>
        <div id="item4" class="carousel-item w-full">
          <img src="https://images.pexels.com/photos/2115257/pexels-photo-2115257.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-full object-cover" />
        </div>
      </div>
      <div class="flex justify-center w-full py-2 gap-2">
        <a href="#item1" class="btn btn-xs">1</a>
        <a href="#item2" class="btn btn-xs">2</a>
        <a href="#item3" class="btn btn-xs">3</a>
        <a href="#item4" class="btn btn-xs">4</a>
      </div>
      <div class="main-text font-bold text-xl mb-2 pl-2">
        <p>Apskati jaunākos piedāvajumus:</p>
      </div>
      <div class="main-deals flex gap-8 flex-wrap justify-center w-full">

        <div class="card card-compact lg:w-[20%] bg-base-100 shadow-xl w-[45%] hover:scale-105 cursor-pointer transition-all">
          <figure><img src="https://www.dateks.lv/images/pic/2400/2400/218/1117.jpg"   class="main-images" alt="Shoes" /></figure>
          <div class="card-body">
            <h2 class="card-title">Intel I5</h2>
            <p class="text-red-500 font-bold">$99.99</p>
            <div class="card-actions justify-end">
              <button class="btn btn-secondary">Buy Now</button>
            </div>
          </div>
        </div>

        <div class="card card-compact lg:w-[20%] bg-base-100 shadow-xl w-[45%] hover:scale-105 cursor-pointer transition-all">
          <figure><img src="https://www.dateks.lv/images/pic/2400/2400/106/1307.jpg" class="main-images" alt="Shoes" /></figure>
          <div class="card-body">
            <h2 class="card-title">Intel I7</h2>
            <p class="text-red-500 font-bold">$199.99</p>
            <div class="card-actions justify-end">
              <button class="btn btn-secondary">Buy Now</button>
            </div>
          </div>
        </div>

        <div class="card card-compact lg:w-[20%] bg-base-100 shadow-xl w-[45%] hover:scale-105 cursor-pointer transition-all">
          <figure><img src="https://images.1a.lv/display/aikido/store/3528a73b69812b612347995f591083e8.jpg" class="main-images"  alt="Shoes" /></figure>
          <div class="card-body">
            <h2 class="card-title">Intel I3</h2>
            <p class="text-red-500 font-bold">$59.99</p>
            <div class="card-actions justify-end">
              <button class="btn btn-secondary">Buy Now</button>
            </div>
          </div>
        </div>

        <div class="card card-compact lg:w-[20%] bg-base-100 shadow-xl w-[45%] hover:scale-105 cursor-pointer transition-all">
          <figure><img src="https://www.dateks.lv/images/pic/2400/2400/313/1307.jpg" class="main-images" alt="Shoes" /></figure>
          <div class="card-body">
            <h2 class="card-title">Intel I9</h2>
            <p class="text-red-500 font-bold">$599.99</p>
            <div class="card-actions justify-end">
              <button class="btn btn-secondary">Buy Now</button>
            </div>
          </div>
        </div>

      </div>
      <div class="main-others"></div>
    </div>
  </div>
</div>
