.main {
  &-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-text {
    align-self: flex-start;
  }

  &-images {
    object-fit: contain;
    aspect-ratio: 16/10;
    width: 100%;
  }
}
