<div class="container mx-auto flex gap-8 mt-4 w-full h-full justify-center content-center ">
  <div class="left-panel lg:w-[22%] pt-4 bg-white hidden lg:block h-fit">
    <div class="lg:block hidden">
      <h1 class="font-bold text-4xl mb-4 pl-4">Categories</h1>
      <ul class="flex flex-col text-2xl px-2 mb-4">
        <li class="pl-2 min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] py-1.5 border-b-gray-400"><span><i class='bx bx-git-branch' ></i></span> Processors</li>
        <li class="pl-2 min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] py-1.5 border-b-gray-400"><span><i class='bx bx-fullscreen' ></i></span> Graphics Cards</li>
        <li class="pl-2 min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] py-1.5 border-b-gray-400"><span><i class='bx bxs-memory-card' ></i></span> Memory</li>
        <li class="pl-2 min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] py-1.5 border-b-gray-400"><span><i class='bx bx-save' ></i></span> HDD</li>
        <li class="pl-2 min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] py-1.5 border-b-gray-400"><span><i class='bx bxs-save' ></i></span> SSD</li>
        <li class="pl-2 min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] py-1.5 border-b-gray-400"><span><i class='bx bx-card' ></i></span> Monitors</li>
        <li class="pl-2 min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] py-1.5 border-b-gray-400"><span><i class='bx bxs-keyboard'></i></span> Keyboards</li>
        <li class="pl-2 min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] py-1.5 border-b-gray-400"><span><i class='bx bxs-mouse' ></i></span> Mouses</li>
        <li class="pl-2 min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] py-1.5 border-b-gray-400"><span><i class='bx bx-checkbox-square' ></i></span> Cases</li>
        <li class="pl-2 min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] py-1.5 border-b-gray-400"><span><i class='bx bx-power-off' ></i></span> Power Supplies</li>
        <li class="pl-2 min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] py-1.5 border-b-gray-400"><span><i class='bx bx-headphone' ></i></span> Headphones</li>
        <li class="pl-2 min-w-fit cursor-pointer hover:bg-gray-300 transition-all border-b-[2px] py-1.5 border-b-gray-400"><span><i class='bx bx-customize' ></i></span> Accessories</li>

      </ul>
      <div class="advertisement">
        <img src="" alt="">
      </div>
    </div>
  </div>
  <div class="center-panel lg:w-[78%] bg-transparent w-[100%] pb-4">
    <div class="main-container flex flex-col gap-10">
      <div id="animation-carousel" class="relative w-full" data-carousel="">
        <!-- Carousel wrapper -->
        <div class="relative w-full h-80 overflow-hidden sm:h-[300px] md:h-[600px]">
          <!-- Item 1 -->
          <div class="duration-200 ease-linear " data-carousel-item="active">
            <img src="https://img.freepik.com/premium-vector/sale-girl-is-shouting-into-mouthpiece-about-start-shopping-sales_491047-267.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-center" alt="...">
          </div>
          <!-- Item 2 -->
          <div class="duration-200 ease-linear" data-carousel-item>
            <img src="https://img.freepik.com/premium-vector/online-shopping-with-mobile-store-design-discount-promotion-banner_62391-413.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-center " alt="...">
          </div>
          <!-- Item 3 -->
          <div class="duration-200 ease-linear" data-carousel-item>
            <img src="https://img.freepik.com/free-vector/people-buying-online_24908-55876.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698451200&semt=ais" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-center" alt="...">
          </div>
          <!-- Item 4 -->
          <div class="duration-200 ease-linear" data-carousel-item>
            <img src="https://img.freepik.com/premium-vector/young-man-with-smartphone-sitting-near-large-inscription-sale-blue_372769-549.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-center" alt="...">
          </div>
          <!-- Item 5 -->
          <div class="duration-200 ease-linear" data-carousel-item>
            <img src="https://img.freepik.com/premium-vector/young-girls-running-sale-big-discounts-illustration_5379-1158.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 object-center" alt="...">
          </div>
        </div>
        <!-- Slider controls -->
        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="bg-blue-700 inline-flex items-center justify-center w-10 h-10 rounded-full ">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
        </button>
        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="bg-blue-700 inline-flex items-center justify-center w-10 h-10 rounded-full ">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
        </button>
      </div>

      <div class="main-deals flex flex-wrap md:justify-between justify-start w-full gap-4 md:gap-0">
        <div class="main-text font-bold text-xl mb-2 pl-2">
          <p>Apskati jaunākos piedāvajumus:</p>
        </div>
          <div class="flex flex-wrap md:justify-between justify-center w-full gap-4 md:gap-0 cursor-pointer">
            @for(product of products; track product.id){
            <div (click)="onGoToProduct(product.id)" class="w-[40%] md:w-[22%] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:scale-105 transition-all" routerLink="product">
              <a>
                <img class="p-8 rounded-t-lg" src="{{product.image_url}}" alt="product image" />
              </a>
              <div class="px-5 pb-5">
                <a>
                  <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{product.name}}</h5>
                </a>
                <div class="flex items-center justify-between flex-wrap gap-2">
                  <span class="text-3xl font-bold dark:text-white text-red-600">${{product.price}}</span>
                  <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
                </div>
              </div>
            </div>
          }
          </div>
        </div>
      <div class="main-others"></div>
    </div>
  </div>
</div>

